body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:url('./bg.jpg') center/cover no-repeat fixed;
}
.container{
    width: 80%;
    /* height: 20vh; */
    border: 2px solid black;
    border-radius: 12px;
    background: #ffffff;
    padding: 2px 5px; 
    display: block;  
    margin: 10% auto;
    text-align: center;
}
.btn{
    padding: 3px 5px;
    border: 2px solid salmon;
    background: black;
    color: white;
    cursor: pointer;
    margin: 5px 3px;
    font-size: 1.2rem;
    font-weight: bold;
    /* display: block; */
}